<!-- File name: header.ejs
     Author's name: Davinder Kaur
     Website name: dkassignment1.azurewebsites.net
     File Description: This file contains the footer which is common to all the pages. -->
</body>
</html>