<!-- File name: header.ejs
     Author's name: Davinder Kaur
     Website name: dkassignment1.azurewebsites.net
     File Description: This file has the technology summary and personal qualities -->

<% include partials/header %>
    <h3><center><%= title %></center></h3>
    <p><center> I am a computer programmer. Through studying this course, I learn various new Languages and</p> 
        <p>also make projects related to that. In java, I made apps using GUI functionality. Moreover,</p>
        <p>I made websites with c# too.</center></p>
    <h5>Technology Summary</h5>
    <p><b><font size = 4>Programming – </font></b> Java, HTML, JavaScript, SQL, PHP, C#, ASP.net, Mainframe, CSS</p>
    <p><b><font size = 4>Software – </font></b> Visual Studio, NetBeans, Visual Studio Code, Microsoft SQL Server Management Studio, MySQL Workbench 6.3 CE, JetBrains PhpStorm, FileZilla, Vista TN3270 </p>
    <p><b><font size = 4>Additional – </font></b>Knowledge of System Development Life Cycle, Arduino, MS Office, GUI Design, JUnit Testing.</p>
    <h5>Personal Qualities</h5>
    <uL>
        <font size = 3>
        <li>- Reliable and conscientious</li>
        <li>- Hardworking with a positive attitude</li>
        <li>- Flexible and adapt easily to change</li>
        <li>- Open to new challenges</li>
        <li>- Passion for working with people</li>
        <li>- Quick and eager learner</li>
    </font>
    </uL>
    
    <% include partials/footer %>