<!-- File name: index.ejs
     Author's name: Davinder Kaur
     Website name: dkassignment1.azurewebsites.net
     File Description: This file contains the general description of me. -->

<% include partials/header %>
    
    <div>
    <img src="images/davinder.png" align="left" />
  
   
    <p><center><font size = 18><b>Hi</b></font></center></p>
    <p><center><font size = 14>I am studying computer programming in Georgian College.</font></center></p>
</div>
    
<% include partials/footer %>
