<!-- File name: projectPage.ejs
     Author's name: Davinder Kaur
     Website name: dkassignment1.azurewebsites.net
     File Description: This file contains the list of the projects made by me. -->

<% include partials/header %>
    <h1><%= title %></h1>
    <div class="col-lg-4">
        <h6>Patient Records Website</h6>
        <p>In this, I make website for recording the patients information that with which doctor is their appointment.</p>
    </div>
    <div>
        <h6>Cars Website</h6>
        <p>In this, I made car website in which users can search cars and find all the information of that car.</p>
    </div>
<% include partials/footer %>