<!-- File name: header.ejs
     Author's name: Davinder Kaur
     Website name: dkassignment1.azurewebsites.net
     File Description: This file contains the list of the services I provide. -->

<% include partials/header %>
    <h1><%= title %></h1>
    <ul>
        <li> Web Development </li>
        <li> Database </li>
        <li> GUI Design and Functionality </li>
        <li> Rapid Application Development </li>
    </ul>
    
<% include partials/footer %>